* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100%;
  min-height: 100vh;
  background: snow;
  font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
}

.logo {
  color: snow;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #000;
  text-decoration: none;
}

.nav-list__item {
  display: inline-block;
}

.nav-list__link {
  color: #000;
}

.nav-list__link:focus {
  outline: 2px dotted red;
}

.nav-list__link:hover {
  text-decoration: underline;
}

.main {
  padding: 1.5%;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.card {
  height: 500px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
}

.card-image {
  height: 70%;
  max-width: 100%;
}

.card-description {
  height: 30%;
  width: 100%;
  padding: 10px;
}

.card-title {
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .nav {
    margin-top: 10px;
  }
}
